/* Hide scrollbar but keep functionality */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.carousel-items {
    @apply flex overflow-x-auto gap-4 scroll-smooth snap-x;

    /* Mix in the scrollbar hiding logic directly here as well */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel-items::-webkit-scrollbar {
    display: none;
}

.home-container {
    @apply space-y-4 pb-10;
}

.banner-container {
    @apply w-full h-[200px] md:h-[280px] bg-gray-300 mb-4 overflow-hidden;
}

/* Horizontal Scroll Carousel */
.carousel-wrapper {
    @apply bg-white shadow-sm p-4 relative;
}

.carousel-header {
    @apply flex justify-between items-center mb-4 border-b pb-2;
}


/* Card Styling */
.product-card {
    @apply min-w-[45%] md:min-w-[19%] lg:min-w-[10%] bg-white p-2 transition-transform duration-300 hover:scale-105 snap-start border border-transparent hover:border-gray-100;
}

.product-image {
    @apply h-32 md:h-40 w-full object-contain mb-2;
}


/* Budget Categories Section */
.budget-grid {
    @apply grid grid-cols-2 md:grid-cols-4 gap-4 px-2;
}

.budget-box {
    @apply bg-white p-4 text-center shadow-sm rounded-sm hover:shadow-md cursor-pointer border-b-4 border-fk-blue;
}