@import "tailwindcss";

@theme {
    --color-fk-blue: #2874f0;
    --color-fk-yellow: #ff9f00;
    --color-bg-gray: #f1f3f6;
}

body {
    @apply bg-[var(--color-bg-gray)] text-gray-900 antialiased;
}